{$DOMAIN} {                                                                                                                                                                                                                         
    encode gzip                                                                                                                                                                                                                     
                                                                                                                                                                                                                                    
    handle /api/* {                                                                                                                                                                                                                 
        reverse_proxy app-backend-1:8080                                                                                                                                                                                            
    }                                                                                                                                                                                                                               
                                                                                                                                                                                                                                    
    handle {                                                                                                                                                                                                                        
        reverse_proxy frontend:80                                                                                                                                                                                                   
    }                                                                                                                                                                                                                               
                                                                                                                                                                                                                                    
    log {                                                                                                                                                                                                                           
        output stdout                                                                                                                                                                                                               
    }                                                                                                                                                                                                                               
}                                                                                                                                                                                                                                   
     